.features {
  text-align: center;
  background-color: $lightBrown;
  padding-bottom: 60px;

  @include atSmall {
    padding-bottom: 100px;
  }

  &__title {
    font-family: $mainFont;
    font-size: 1.8rem;
    color: $grey;
    font-weight: 100;
    text-shadow: 2px 2px 4px $white;

    @include atSmall {
      font-size: 2.6rem;
    }
  }

  &__subtitle {
    font-family: $mainFont;
    font-size: 1.1rem;
    color: $grey;
    font-weight: 100;
    margin: 0;

    @include atSmall {
      font-size: 1.7rem;
    }
  }

  &__image img {
    margin-top: 30px;
  }

  &__transformed-images {
    margin-top: 25px;

    img {
      margin: 0;

      @include atSmall {
        margin: 0 20px;
      }
    }
  }
}
