.nutrition {
  text-align: center;
  background-color: $green;
  padding-bottom: 60px;

  @include atSmall {
    padding-bottom: 100px;
  }

  &__title {
    font-family: $mainFont;
    font-size: 1.8rem;
    color: $white;
    font-weight: 100;
    text-shadow: 2px 2px 4px $grey;

    @include atSmall {
      font-size: 2.6rem;
    }
  }

  &__subtitle {
    font-family: $mainFont;
    font-size: 1.1rem;
    color: $white;
    font-weight: 100;
    margin: 0;

    @include atSmall {
      font-size: 1.7rem;
    }
  }

  &__image {
    margin-top: 30px;
  }

  &__nutrients-list {
    display: flex;
    max-width: 240px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    flex-wrap: wrap;

    @include atSmall {
      margin-top: 30px;
      max-width: 700px;
    }

    li {
      font-family: sans-serif;
      color: $white;
      font-weight: 100;
      font-size: 1rem;
      flex-basis: 50%;
      margin: 5px 0;

      @include atSmall {
        font-size: 1.4rem;
        flex-basis: initial;
        margin: 0;
      }
    }
  }
}
